In [1]:
import findspark
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import matplotlib.pyplot as plt
import tensorflow as tf #numpy needs to be 1.23 or earlier in order for tf to import correctly
from pyspark.sql import Row
# Import struct fields that we can use
from pyspark.sql.types import StructField, StringType, IntegerType, StructType
findspark.init()

In [2]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("DataCleaning").getOrCreate()

In [3]:
from pyspark import SparkFiles
file = "income.csv"
spark.sparkContext.addFile(file)
df = spark.read.csv(SparkFiles.get("income.csv"), sep=",", header=True)
df.createOrReplaceTempView('income_spark')

In [4]:
df.show()

+---+----------------+------+------------+-------------+------------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education_num|    marital_status|       occupation|  relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+----------------+------+------------+-------------+------------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
| 40|Self-emp-not-inc|223881| Prof-school|           15|Married-civ-spouse|   Prof-specialty|       Husband|White|  Male|       99999|           0|            70| United-States|  >50K|
| 30|         Private|149118|     HS-grad|            9|          Divorced|     Craft-repair| Not-in-family|White|Female|           0|           0|            40| United-States| <=50K|
| 46|         Private|109209|Some-college|           10|Married-civ-spouse|     Adm-clerical|       Husband|White|  Male|           0|           0|            40| United-States|  >50K|
| 32|         Private|229566|   Assoc-voc|           11|Married-civ-spouse|    Other-service|       Husband|White|  Male|           0|           0|            60| United-States|  >50K|
| 54|               ?|148657|   Preschool|            1|Married-civ-spouse|                ?|          Wife|White|Female|           0|           0|            40|        Mexico| <=50K|
| 63|         Private|111963|Some-college|           10|Married-civ-spouse|   Prof-specialty|       Husband|White|  Male|           0|           0|            16| United-States| <=50K|
| 25|         Private|207875|     7th-8th|            4|Married-civ-spouse|Handlers-cleaners|       Husband|White|  Male|           0|           0|            40|        Mexico| <=50K|
| 71|       Local-gov|229110|     HS-grad|            9|           Widowed|  Exec-managerial|Other-relative|White|Female|           0|           0|            33| United-States| <=50K|
| 37|         Private| 66686|     HS-grad|            9|Married-civ-spouse|Handlers-cleaners|       Husband|White|  Male|           0|           0|            40| United-States| <=50K|
| 44|         Private|227399|   Assoc-voc|           11|Married-civ-spouse|  Exec-managerial|       Husband|Black|  Male|           0|           0|            40| United-States| <=50K|
| 21|         Private| 57916|     HS-grad|            9|     Never-married|  Protective-serv|     Own-child|White|  Male|           0|           0|            40| United-States| <=50K|
| 37|       Local-gov|244803|     HS-grad|            9|Married-civ-spouse|     Craft-repair|       Husband|White|  Male|           0|           0|            40|             ?| <=50K|
| 18|         Private|127388|        12th|            8|     Never-married|    Other-service| Not-in-family|White|Female|           0|           0|            25| United-States| <=50K|
| 33|         Private|117963|   Bachelors|           13|Married-civ-spouse|  Exec-managerial|       Husband|White|  Male|           0|           0|            40| United-States|  >50K|
| 29|         Private| 29732|   Bachelors|           13|Married-civ-spouse|   Prof-specialty|          Wife|White|Female|           0|           0|            24| United-States| <=50K|
| 46|         Private|369538|Some-college|           10|Married-civ-spouse|            Sales|       Husband|White|  Male|           0|           0|            40| United-States|  >50K|
| 58|    Self-emp-inc|174864|     HS-grad|            9|Married-civ-spouse|            Sales|       Husband|White|  Male|           0|           0|            55| United-States|  >50K|
| 42|       State-gov|212027|   Bachelors|           13|          Divorced|   Prof-specialty| Not-in-family|Black|  Male|           0|           0|            40| United-States| <=50K|
| 45|       State-gov|110311|     Masters|           14|          Divorced|  Exec-managerial|     Unmarried|White|Female|           0|           0|            40| United-States| <=50K|
| 62|Self-emp-not-inc|102631|Some-college|           10|           Widowed|  Farming-fishing|     Unmarried|White|Female|           0|           0|            50| United-States| <=50K|
+---+----------------+------+------------+-------------+------------------+-----------------+--------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 20 rows

In [5]:

#using spark.sql pull all the columsn from the df except for capital.gains, capital.loss, and fnlwgt
df = spark.sql("""SELECT age, 
               workclass, 
               education, 
               education_num, 
               marital_status, 
               occupation, 
               relationship, 
               race, 
               sex, 
               hours_per_week, 
               native_country, 
               income
               FROM income_spark""")

In [6]:
#make the spark dataframe df a pandas dataframe
income = df.toPandas()

In [7]:
income.replace("?", np.nan, inplace=True)
income.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country,income
0,40,Self-emp-not-inc,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,70,United-States,>50K
1,30,Private,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,40,United-States,<=50K
2,46,Private,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,40,United-States,>50K
3,32,Private,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,60,United-States,>50K
4,54,NaN,Preschool,1,Married-civ-spouse,NaN,Wife,White,Female,40,Mexico,<=50K

In [8]:
income.dropna(inplace=True)
income.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country,income
0,40,Self-emp-not-inc,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,70,United-States,>50K
1,30,Private,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,40,United-States,<=50K
2,46,Private,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,40,United-States,>50K
3,32,Private,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,White,Male,60,United-States,>50K
5,63,Private,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,16,United-States,<=50K

In [9]:
income.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23149 entries, 0 to 24999
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             23149 non-null  object
 1   workclass       23149 non-null  object
 2   education       23149 non-null  object
 3   education_num   23149 non-null  object
 4   marital_status  23149 non-null  object
 5   occupation      23149 non-null  object
 6   relationship    23149 non-null  object
 7   race            23149 non-null  object
 8   sex             23149 non-null  object
 9   hours_per_week  23149 non-null  object
 10  native_country  23149 non-null  object
 11  income          23149 non-null  object
dtypes: object(12)
memory usage: 2.3+ MB

In [10]:
income["age"]=pd.to_numeric(income["age"])
income["education_num"]=pd.to_numeric(income["education_num"])
income["hours_per_week"]=pd.to_numeric(income["hours_per_week"])

In [11]:
income.info()

<class 'pandas.core.frame.DataFrame'>
Index: 23149 entries, 0 to 24999
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             23149 non-null  int64
 1   workclass       23149 non-null  object
 2   education       23149 non-null  object
 3   education_num   23149 non-null  int64
 4   marital_status  23149 non-null  object
 5   occupation      23149 non-null  object
 6   relationship    23149 non-null  object
 7   race            23149 non-null  object
 8   sex             23149 non-null  object
 9   hours_per_week  23149 non-null  int64
 10  native_country  23149 non-null  object
 11  income          23149 non-null  object
dtypes: int64(3), object(9)
memory usage: 2.3+ MB

In [12]:
income_cat = income.dtypes[income.dtypes == 'object'].index.tolist()

In [13]:
#check the number of unique values in each column
income[income_cat].nunique()

workclass          7
education         16
marital_status     7
occupation        14
relationship       6
race               5
sex                2
native_country    40
income             2
dtype: int64

In [14]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse_output=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(income[income_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names_out(income_cat)
encode_df.head()

,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,education_10th,education_11th,education_12th,...,native_country_Scotland,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia,income_<=50K,income_>50K
0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [15]:
# Merge one-hot encoded features and drop the originals
income = income.merge(encode_df,left_index=True, right_index=True)
income = income.drop(income_cat,axis=1)
income.head()

,age,education_num,hours_per_week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,...,native_country_Scotland,native_country_South,native_country_Taiwan,native_country_Thailand,native_country_Trinadad&Tobago,native_country_United-States,native_country_Vietnam,native_country_Yugoslavia,income_<=50K,income_>50K
0,40,15,70,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1,30,9,40,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,46,10,40,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,32,11,60,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
5,63,10,16,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [16]:
#drop income_>50K because there are 2 income columns
income.drop(['income_>50K'], axis=1, inplace=True)

In [17]:
# Split our preprocessed data into our features and target arrays
y = income["income_<=50K"].values #target is a binary 1 or 0 response
X = income.drop(["income_<=50K"], axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 50
hidden_nodes_layer3 = 20


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               10100

 dense_1 (Dense)             (None, 50)                5050

 dense_2 (Dense)             (None, 20)                1020

 dense_3 (Dense)             (None, 1)                 21

=================================================================
Total params: 16191 (63.25 KB)
Trainable params: 16191 (63.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
503/503 [==============================] - 1s 734us/step - loss: 0.4005 - accuracy: 0.8113
Epoch 2/100
503/503 [==============================] - 0s 735us/step - loss: 0.3652 - accuracy: 0.8319
Epoch 3/100
503/503 [==============================] - 0s 706us/step - loss: 0.3564 - accuracy: 0.8337
Epoch 4/100
503/503 [==============================] - 0s 705us/step - loss: 0.3530 - accuracy: 0.8350
Epoch 5/100
503/503 [==============================] - 0s 701us/step - loss: 0.3483 - accuracy: 0.8379
Epoch 6/100
503/503 [==============================] - 0s 710us/step - loss: 0.3438 - accuracy: 0.8389
Epoch 7/100
503/503 [==============================] - 0s 700us/step - loss: 0.3401 - accuracy: 0.8407
Epoch 8/100
503/503 [==============================] - 0s 713us/step - loss: 0.3357 - accuracy: 0.8418
Epoch 9/100
503/503 [==============================] - 0s 704us/step - loss: 0.3326 - accuracy: 0.8443
Epoch 10/100
503/503 [==============================] - 0s 728us/step - loss: 0.3272 - accuracy: 0.8459
Epoch 11/100
503/503 [==============================] - 0s 712us/step - loss: 0.3223 - accuracy: 0.8519
Epoch 12/100
503/503 [==============================] - 0s 703us/step - loss: 0.3181 - accuracy: 0.8517
Epoch 13/100
503/503 [==============================] - 0s 728us/step - loss: 0.3170 - accuracy: 0.8494
Epoch 14/100
503/503 [==============================] - 0s 735us/step - loss: 0.3082 - accuracy: 0.8542
Epoch 15/100
503/503 [==============================] - 0s 711us/step - loss: 0.3034 - accuracy: 0.8575
Epoch 16/100
503/503 [==============================] - 0s 715us/step - loss: 0.3010 - accuracy: 0.8572
Epoch 17/100
503/503 [==============================] - 0s 713us/step - loss: 0.2971 - accuracy: 0.8596
Epoch 18/100
503/503 [==============================] - 0s 727us/step - loss: 0.2922 - accuracy: 0.8609
Epoch 19/100
503/503 [==============================] - 0s 706us/step - loss: 0.2871 - accuracy: 0.8651
Epoch 20/100
503/503 [==============================] - 0s 720us/step - loss: 0.2840 - accuracy: 0.8649
Epoch 21/100
503/503 [==============================] - 0s 720us/step - loss: 0.2773 - accuracy: 0.8696
Epoch 22/100
503/503 [==============================] - 0s 700us/step - loss: 0.2732 - accuracy: 0.8717
Epoch 23/100
503/503 [==============================] - 0s 712us/step - loss: 0.2703 - accuracy: 0.8726
Epoch 24/100
503/503 [==============================] - 0s 690us/step - loss: 0.2655 - accuracy: 0.8729
Epoch 25/100
503/503 [==============================] - 0s 718us/step - loss: 0.2607 - accuracy: 0.8763
Epoch 26/100
503/503 [==============================] - 0s 701us/step - loss: 0.2604 - accuracy: 0.8736
Epoch 27/100
503/503 [==============================] - 0s 679us/step - loss: 0.2553 - accuracy: 0.8798
Epoch 28/100
503/503 [==============================] - 0s 679us/step - loss: 0.2533 - accuracy: 0.8784
Epoch 29/100
503/503 [==============================] - 0s 674us/step - loss: 0.2490 - accuracy: 0.8820
Epoch 30/100
503/503 [==============================] - 0s 664us/step - loss: 0.2457 - accuracy: 0.8837
Epoch 31/100
503/503 [==============================] - 0s 740us/step - loss: 0.2437 - accuracy: 0.8829
Epoch 32/100
503/503 [==============================] - 0s 731us/step - loss: 0.2362 - accuracy: 0.8860
Epoch 33/100
503/503 [==============================] - 0s 732us/step - loss: 0.2348 - accuracy: 0.8858
Epoch 34/100
503/503 [==============================] - 0s 732us/step - loss: 0.2327 - accuracy: 0.8888
Epoch 35/100
503/503 [==============================] - 0s 719us/step - loss: 0.2318 - accuracy: 0.8868
Epoch 36/100
503/503 [==============================] - 0s 716us/step - loss: 0.2283 - accuracy: 0.8896
Epoch 37/100
503/503 [==============================] - 0s 713us/step - loss: 0.2255 - accuracy: 0.8907
Epoch 38/100
503/503 [==============================] - 0s 739us/step - loss: 0.2256 - accuracy: 0.8916
Epoch 39/100
503/503 [==============================] - 0s 709us/step - loss: 0.2255 - accuracy: 0.8930
Epoch 40/100
503/503 [==============================] - 0s 718us/step - loss: 0.2200 - accuracy: 0.8956
Epoch 41/100
503/503 [==============================] - 0s 720us/step - loss: 0.2167 - accuracy: 0.8962
Epoch 42/100
503/503 [==============================] - 0s 718us/step - loss: 0.2151 - accuracy: 0.8952
Epoch 43/100
503/503 [==============================] - 0s 720us/step - loss: 0.2144 - accuracy: 0.8942
Epoch 44/100
503/503 [==============================] - 0s 745us/step - loss: 0.2125 - accuracy: 0.8975
Epoch 45/100
503/503 [==============================] - 0s 729us/step - loss: 0.2115 - accuracy: 0.8991
Epoch 46/100
503/503 [==============================] - 0s 718us/step - loss: 0.2073 - accuracy: 0.9014
Epoch 47/100
503/503 [==============================] - 0s 738us/step - loss: 0.2094 - accuracy: 0.8992
Epoch 48/100
503/503 [==============================] - 0s 741us/step - loss: 0.2035 - accuracy: 0.9022
Epoch 49/100
503/503 [==============================] - 0s 721us/step - loss: 0.2020 - accuracy: 0.9007
Epoch 50/100
503/503 [==============================] - 0s 723us/step - loss: 0.2007 - accuracy: 0.9035
Epoch 51/100
503/503 [==============================] - 0s 718us/step - loss: 0.2013 - accuracy: 0.9046
Epoch 52/100
503/503 [==============================] - 0s 713us/step - loss: 0.2005 - accuracy: 0.9024
Epoch 53/100
503/503 [==============================] - 0s 711us/step - loss: 0.1971 - accuracy: 0.9036
Epoch 54/100
503/503 [==============================] - 0s 713us/step - loss: 0.1971 - accuracy: 0.9044
Epoch 55/100
503/503 [==============================] - 0s 733us/step - loss: 0.1968 - accuracy: 0.9068
Epoch 56/100
503/503 [==============================] - 0s 722us/step - loss: 0.1949 - accuracy: 0.9053
Epoch 57/100
503/503 [==============================] - 0s 733us/step - loss: 0.1958 - accuracy: 0.9054
Epoch 58/100
503/503 [==============================] - 0s 724us/step - loss: 0.1939 - accuracy: 0.9075
Epoch 59/100
503/503 [==============================] - 0s 722us/step - loss: 0.1909 - accuracy: 0.9102
Epoch 60/100
503/503 [==============================] - 0s 733us/step - loss: 0.1907 - accuracy: 0.9075
Epoch 61/100
503/503 [==============================] - 0s 731us/step - loss: 0.1904 - accuracy: 0.9076
Epoch 62/100
503/503 [==============================] - 0s 713us/step - loss: 0.1866 - accuracy: 0.9115
Epoch 63/100
503/503 [==============================] - 0s 717us/step - loss: 0.1881 - accuracy: 0.9119
Epoch 64/100
503/503 [==============================] - 0s 717us/step - loss: 0.1859 - accuracy: 0.9116
Epoch 65/100
503/503 [==============================] - 0s 716us/step - loss: 0.1848 - accuracy: 0.9129
Epoch 66/100
503/503 [==============================] - 0s 711us/step - loss: 0.1789 - accuracy: 0.9142
Epoch 67/100
503/503 [==============================] - 0s 737us/step - loss: 0.1782 - accuracy: 0.9150
Epoch 68/100
503/503 [==============================] - 0s 720us/step - loss: 0.1818 - accuracy: 0.9142
Epoch 69/100
503/503 [==============================] - 0s 718us/step - loss: 0.1810 - accuracy: 0.9150
Epoch 70/100
503/503 [==============================] - 0s 723us/step - loss: 0.1774 - accuracy: 0.9157
Epoch 71/100
503/503 [==============================] - 0s 740us/step - loss: 0.1729 - accuracy: 0.9170
Epoch 72/100
503/503 [==============================] - 0s 728us/step - loss: 0.1765 - accuracy: 0.9168
Epoch 73/100
503/503 [==============================] - 0s 747us/step - loss: 0.1749 - accuracy: 0.9165
Epoch 74/100
503/503 [==============================] - 0s 711us/step - loss: 0.1729 - accuracy: 0.9181
Epoch 75/100
503/503 [==============================] - 0s 717us/step - loss: 0.1801 - accuracy: 0.9170
Epoch 76/100
503/503 [==============================] - 0s 701us/step - loss: 0.1706 - accuracy: 0.9203
Epoch 77/100
503/503 [==============================] - 0s 716us/step - loss: 0.1689 - accuracy: 0.9186
Epoch 78/100
503/503 [==============================] - 0s 709us/step - loss: 0.1680 - accuracy: 0.9201
Epoch 79/100
503/503 [==============================] - 0s 733us/step - loss: 0.1710 - accuracy: 0.9173
Epoch 80/100
503/503 [==============================] - 0s 715us/step - loss: 0.1711 - accuracy: 0.9180
Epoch 81/100
503/503 [==============================] - 0s 710us/step - loss: 0.1705 - accuracy: 0.9198
Epoch 82/100
503/503 [==============================] - 0s 716us/step - loss: 0.1758 - accuracy: 0.9193
Epoch 83/100
503/503 [==============================] - 0s 709us/step - loss: 0.1698 - accuracy: 0.9210
Epoch 84/100
503/503 [==============================] - 0s 714us/step - loss: 0.1624 - accuracy: 0.9242
Epoch 85/100
503/503 [==============================] - 0s 764us/step - loss: 0.1597 - accuracy: 0.9246
Epoch 86/100
503/503 [==============================] - 0s 724us/step - loss: 0.1589 - accuracy: 0.9236
Epoch 87/100
503/503 [==============================] - 0s 728us/step - loss: 0.1615 - accuracy: 0.9223
Epoch 88/100
503/503 [==============================] - 0s 746us/step - loss: 0.1620 - accuracy: 0.9233
Epoch 89/100
503/503 [==============================] - 0s 738us/step - loss: 0.1608 - accuracy: 0.9245
Epoch 90/100
503/503 [==============================] - 0s 729us/step - loss: 0.1598 - accuracy: 0.9247
Epoch 91/100
503/503 [==============================] - 0s 738us/step - loss: 0.1550 - accuracy: 0.9257
Epoch 92/100
503/503 [==============================] - 0s 731us/step - loss: 0.1556 - accuracy: 0.9264
Epoch 93/100
503/503 [==============================] - 0s 725us/step - loss: 0.1540 - accuracy: 0.9265
Epoch 94/100
503/503 [==============================] - 0s 737us/step - loss: 0.1547 - accuracy: 0.9245
Epoch 95/100
503/503 [==============================] - 0s 730us/step - loss: 0.1566 - accuracy: 0.9254
Epoch 96/100
503/503 [==============================] - 0s 741us/step - loss: 0.1649 - accuracy: 0.9220
Epoch 97/100
503/503 [==============================] - 0s 722us/step - loss: 0.1574 - accuracy: 0.9263
Epoch 98/100
503/503 [==============================] - 0s 734us/step - loss: 0.1571 - accuracy: 0.9252
Epoch 99/100
503/503 [==============================] - 0s 727us/step - loss: 0.1566 - accuracy: 0.9260
Epoch 100/100
503/503 [==============================] - 0s 723us/step - loss: 0.1564 - accuracy: 0.9274

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

168/168 - 0s - loss: 1.1973 - accuracy: 0.7782 - 191ms/epoch - 1ms/step
Loss: 1.1972652673721313, Accuracy: 0.7781926989555359

In [24]:

print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Loss: 1.1972652673721313, Accuracy: 0.7781926989555359